html{
  font-size: 62.5%;
  box-sizing: border-box;
}

body{
  height: 100vh;
  margin: 0;
 }

 body,input,select,textarea{
   font-size: 1.9rem;

 }

.App {
  text-align: center;
}

*{margin:0px;}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-container{
  background-color: #282c34;
  min-height: 100vh;
  text-align: center;
  /*display: flex;
  flex-direction: column;*/
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.adminContainer{
  display: flex;
}

.sidebar-list-item a{ display: flex; align-items: center; height: 100%; color: inherit; 
  width: 100%; height: 100%;
  text-decoration: none;}


